<h1>Change password</h1>
<%= form_for @user, :url => update_password_user_path(@user), :method => :put do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2> Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
   <%= label_tag :current_password, 'Your current password' %> <br />
   <%= password_field_tag :current_password %>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %> 
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit 'Change password' %></p>
<% end %>
